<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Blogspot</title>
</head>
<style>
  nav{
    background-color: black;
    height: 60px;
    width: 100%;
    
    padding-top: 30px;
  }
  ul{
    padding-inline-end:32px;
  }
 
</style>
<body>

    <nav class="navbar navbar-expand-lg fixed">
        <a style="color:white;font-size: 31px; padding-left: 0px;font-weight: bolder;font-family: Georgia;"class="navbar-brand" href="/">Blogspot</a>
        <li class="nav-item">
          <a style="color:white;font-size: 18px;font-family: Georgia;padding-bottom: 30px;"class="nav-link" href="/about">About</a>
        </li>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
           <% if(!currentUser){ %>
            <li class="nav-item ">
              <a style="color:white;font-size: 18px;font-family: Georgia" class="nav-link" href="/register">Signup <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a style="color:white;font-size: 18px;font-family: Georgia;padding-left: 20px;padding-top: 8px;padding-right: 4px;"class="nav-link" href="/login">Login</a>
            </li>
          <% } else { %>
            <li class="nav-item ">
              
              <a style="color:white;font-size: 18px;margin-right: 860px;font-family: Georgia;padding-left: 15px;padding-top: 10px;" class="nav-link" href="/blogs/new">New <span class="sr-only">(current)</span></a>
            </li>

         
            
            
            
            <li class="nav-item">
              <a  href="#" style="font-size: 18px;"><i style="color:white;margin-top: 13px;padding-right: 3px;" class="fas fa-user"><%= currentUser.username %></i></a>
              </li>
              <li class="nav-item">
              <a style="color:white;font-size: 18px;font-family: Georgia;padding-left: 30px;margin-right: 10px;" class="nav-link" href="/logout" tabindex="-1" >Logout</a>
            </li>
            
          </ul>
          
            

          </ul>
         <% } %>
        </div>
      </nav>
<!-- 
      <nav class="navbar navbar-expand-lg">
        <a style="color:black;font-weight: bolder;font-size: 37px;font-family: Forte; "class="navbar-brand" href="/blogs"> Blogspot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <% if(!currentUser){ %>
            <li class="nav-item active">
              <a style="color:black;" class="nav-link" href="/register">Signup <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a style="color:black" class="nav-link" href="/login">Login</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a style="color:black;font-size: 16px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;" class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
          <span style="color:black" class="navbar-text">
            <i style="color:black;margin-top: 13px;" class="fas fa-user"><%= currentUser.username %></i>
          </span>
          <% } %>
        </div>
      </nav> -->



















































      <% if(error && error.length>0){ %>
        <div class="alert alert-danger" role="alert" style="margin-top: 14px;margin-left: 60px; margin-right: 60px; height: 43px;">
          <p><%= error %></p>
        </div>
        <% } %>
    
        <% if(success && success.length>0){ %>
        <div class="alert alert-success" role="alert" style="margin-top: 14px;margin-left: 60px; margin-right: 60px; height: 43px;">
          <p style="font-family: Arial;"><%= success %></p>
        </div>
        <% } %>
      </div>
